*{
    padding:0;
    margin: 0;
    background-color: rgb(241, 200, 235);
    text-align: center;
}
h1{ 
    background-color: rgb(101, 57, 94);
    color: white;
    line-height: 3rem;
}
.containers{
    padding: 5vmin;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 20vmin;
   
}
img{
    /* padding: 2vmin; */
    border-radius: 50%;
    height: 18vmin;
    width:18vmin;
}
.icons{
    height: 25vmin;
    width: 25vmin;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons:hover{
    cursor: pointer;
    /* background-color: black; */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);

}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 3rem;
}
#userscore,#compscore{
    font-size: 4rem;
}
.msgcontainer{
    margin-top: 3rem;
}
#msg{
    background-color: rgb(101, 57, 94);
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

@media screen and (max-width:700px) {
    h1{
        font-size: 20px;
    }
    #msg{
        font-size: 18px;
    }
}